{% extends "base.html" %}


{% block body %}
	
	<!-- START PRELOADER -->
	<div class="preloader">
		<div class="status">
			<div class="status-mes"></div>
		</div>
	</div>
		<!--  END PRELOADER -->
	
	<div class="header_top">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 col-md-6 col-sm-8">
					<div class="header_top_left">
						<p><i class="fas fa-map-marker-alt"></i>Sahayatri - Your Travel Guide </p>
						</div>
				</div>

				<div class="col-lg-6 col-md-6 col-sm-4">
					<div class="header_top_right text-right">	
						<ul class="header-social">
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fab fa-youtube"></i></a></li>
						</ul>	
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Top Header -->
	
		
	<!-- <center>
		<form style="margin-top: 20px;" action="" method="post" enctype="multipart/form-data">

			{% csrf_token %}

			{% if request.user.is_authenticated %}
			<h1>Add New Packages.</h1>

			<div class="form-group">
			<label for="name">{{form.name.label}}</label>
			{{form.name}}
			</div>
			<div class="form-group">
				<label for="price">{{form.price.label}}</label>
				{{form.price}}
			</div>
			<div class="form-group">
				<label for="image">{{form.image.label}}</label>
				{{form.image}}
			</div>
			<div class="form-group">
			<label for="category">{{form.category.label}}</label>
			{{form.category}}
			</div>
			<div class="form-group">
			<label for="description">{{form.description.label}}</label>
			{{form.description}}
			</div>
			<input type="submit" id="btnsubmit" onclick="SubmitButtonClick();" value="Add Product" class="btn btn-secondary">
			{% else %}
			<div class="form-group">
				<label>Please Log in as a merchant to add Packages. Thank You.</label>
			</div>
			{% endif %}
		</form>
	</center> -->
	<form style="margin-top: 20px;" action="" method="post" enctype="multipart/form-data">
	<div class="container register">
		<div class="row">
			<div class="col-md-3 register-left">
				<img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
				<h3>Welcome</h3>
				<p>You are 30 seconds away from earning your own money!</p>
				<input type="submit" name="" value="Login"/><br/>
			</div>
			<div class="col-md-9 register-right">
				<ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Employee</a>
					</li>					
				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
						<h3 class="register-heading">Add Package</h3>
						<div class="row register-form">
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" id="pname" placeholder="Package Name" value="" />
								</div>
								<div class="form-group">
									<input type="number" class="form-control" id="price" placeholder="Price" value="" />
								</div>								
								<div class="form-group">
									<input type="text" class="form-control" id="desc" placeholder="Description" value="" />
								</div>
								<div class="form-group">
									<input type="text" class="form-control" id="duration" placeholder="Duration" value="" />
								</div>
								<div class="form-group">
									<input type="text" class="form-control" id="itner" placeholder="Itnerary" value="" />
								</div>
								<div class="form-group">
									<input type="password" class="form-control"  placeholder="Confirm Password *" value="" />
								</div>
								<div class="form-group">
									<label class="form-control">Thumbnail Image</label>
									<input type="file" class="form-control"  placeholder="Upload Thumbnail" value="" />
								</div>
								
							</div>
							<div class="col-md-6">								
								<div class="form-group">
									<label class="form-control">Category</label>
									<select class="form-control">
										<option class="hidden"  selected disabled>Please select your Sequrity Question</option>
										<option>What is your Birthdate?</option>
										<option>What is Your old Phone Number</option>
										<option>What is your Pet Name?</option>
									</select>
								</div>	
								<div class="form-group">
									<label class="form-control">District</label>
									<select class="form-control">
										<option class="hidden"  selected disabled>Please select your Sequrity Question</option>
										<option>What is your Birthdate?</option>
										<option>What is Your old Phone Number</option>
										<option>What is your Pet Name?</option>
									</select>
								</div>	
								<div class="form-group">
									<label class="form-control">Type</label>
									<select class="form-control">
										<option class="hidden"  selected disabled>Please select your Sequrity Question</option>
										<option>What is your Birthdate?</option>
										<option>What is Your old Phone Number</option>
										<option>What is your Pet Name?</option>
									</select>
								</div>																
								<input type="submit" class="btnRegister"  value="Register"/>
							</div>
						</div>
					</div>					
				</div>
			</div>
		</div>

	</div>
</form>

{% endblock body %}

