{% extends "base.html" %}


{% block body %}

	<style>
		.pimage{
			height: 286px;
			min-width: 100%;
    		min-height: 100%;
		}
		.form-control {
    padding: 10px 15px;
    border-radius: 0;
    height: 50px;
    line-height: 50px;
    background-color: #ffffff;
    border-color: #ffffff;
    width: 313px;
    border-radius: 0.5pc;
    margin-bottom: 21.200000000000003px;
}
	</style>
	<!-- START PRELOADER -->
	<div class="preloader">
		<div class="status">
			<div class="status-mes"></div>
		</div>
	</div>
		<!--  END PRELOADER -->
	
	<div class="header_top">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 col-md-6 col-sm-8">
					<div class="header_top_left">
						<p><i class="fas fa-map-marker-alt"></i>{{ cmp.address }}</p>                                                                                  
						<p><i class="far fa-envelope-open"></i> {{cmp.email}}</p>
						</div>
				</div>

				<div class="col-lg-6 col-md-6 col-sm-4">
					<div class="header_top_right text-right">	
						<ul class="header-social">
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fab fa-youtube"></i></a></li>
						</ul>	
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Top Header -->
	
	<!-- START NAVBAR -->
	<div id="navigation" class="hsp_opt fixed-top navbar-light bg-faded site-navigation">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-3 col-sm-4">			
					<div class="navbar-header">        
						<a href="{% url 'index' %}" class="navbar-brand"><img src="{{ cmp.logo.url  }}" alt="logo"></a>
					</div>	
				</div><!--- END Col -->
			
				<div class="col-lg-10 col-md-9 col-sm-8">
					<nav id="main-menu" class="ml-auto">
						<ul>
							<li><a href="#home">Home</a></li>
							{% if request.user.is_authenticated %}
							<li><a class="nav-link text-black font-weight-bold" href="{% url 'logout' %}">Logout</a>									
							<li><a class="nav-link text-black font-weight-bold" href="{% url 'viewcart' %}"><i class="ti-shopping-cart"></i>
								<span id="counter" class="badge badge-danger badge-counter">{{ count }}</span></a>									
							<li><a class="nav-link text-black font-weight-bold" href="{% url 'profile' %}"><span>
								<img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-512.png" width="30" height="30" alt="">
							</span>{{ request.user.username }}</a>									
							{% else %}
								<!-- <li><a href="{% url 'registerMerchant' %}">Register Merchant</a></li> -->
								<li><a class="nav-link text-black font-weight-bold" href="{% url 'login' %}">Login</a></li>								
							{% endif %}	
						</ul>
					</nav>
					<div id="mobile_menu"></div>					
				</div> <!--- END Col -->
			</div>				
		</div><!--- END CONTAINER -->
	</div> 
	<!-- END NAVBAR -->			

	<!-- START HOME -->
	<section id="home" class="welcome-area">
		<div class="welcome-slider-area">
			<div id="welcome-slide-carousel" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner" role="listbox">
					{% for s in sld %}
					<div class="carousel-item active">
						<div class="single-slide-item" style="background-image:url({{s.sliderimg.url}}); ">
						<div class="single-slide-item">
							<div class="single-slide-item-table">
								<div class="single-slide-item-tablecell">
									<div class="container">
										<div class="row align-items-center">
											<div class="col-lg-12">											
												<span>{{ s.alttext1 }}</span>
												<h2>{{ s.alttext2 }}</h2>
												<p class="lead">{{ s.alttext3 }}</p>
												<form method="post" action="{% url 'search' %}">
													{% csrf_token %}
												<input class="form-control mr-sm-2" name="searchvalue" type="search" placeholder="Search" aria-label="Search">
												<button class="btn-home-border" type="submit" href="#"><i class="ti-search"></i> Search</button>
												</form>								
											</div>
														
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}				
					
				</div>
				
					<!-- Controls -->
					<a class="carousel-control-prev" href="#welcome-slide-carousel" role="button" data-slide="prev">
					<i class="fas fa-long-arrow-alt-left" aria-hidden="true"></i>
					</a>
					<a class="carousel-control-next" href="#welcome-slide-carousel" role="button" data-slide="next">
					<i class="fas fa-long-arrow-alt-right" aria-hidden="true"></i>
					</a>					
			</div>
		</div>
	</section>
	<!-- END  HOME DESIGN -->	

	<!-- START BLOG -->		
	<section id="blog" class="fresh-news section-padding">
		<div class="container">		
												
			<div class="col-lg-12 text-center">
				<div class="portfolio_filter">
					<!-- {% csrf_token %} -->
					<ul>
						<li class="filter" ><a class="filter" href="{% url 'filter' 'All' %}">All</a></li>					
						{% for c in cat %}
						<li ><a class="filter"   href="{% url 'filter' c.id %}">{{ c.name }}</a></li>						
						{% endfor %}
					</ul>
				</div>
			</div>							
		</div>
		<div class="container">
			<div class="section-title text-center wow zoomIn">
				<span>{{ category }}</span>					
			</div>					
			<div class="row filt">	
				{% for q in query %}				
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
					<div class="single_blog">
						<div class="blog_img">
							<a href="{% url 'prod_detail' q.id %}"><img src="{{ q.image.url }}" class="img-fluid pimage" alt="image" /></a>
						</div>
						<div class="blog_content">
							<span class="blog_cat">
								{% if request.user.is_authenticated %}
								<a class="pushtolist" data-id="{{ q.id }}">Book</a>
								{% endif %}
								<!-- <a class="pushtolist" data-id="{{ q.id }}">Add to Bucketlist</a> -->
								<a href="#">{{ q.nights }}N {{ q.days }} D</a>
							</span>
							<h3><a href="{% url 'prod_detail' q.id %}">{{ q.name }}</a></h3>								
							<div class="blog-meta">
								<span class="blog-author">
									<img src="https://previews.123rf.com/images/martialred/martialred1708/martialred170800071/84363440-available-now-label-badge-seal-or-burst-flat-vector-icon-for-apps-and-websites.jpg" alt="author icon" /> 
									<a href="#">NPR {{ q.price }}</a>
								</span> 
								<span class="blog-date">{{ q.valid_date | date:'d M Y' }}</span>								
							</div>
							<a href="{% url 'prod_detail' q.id %}" class="blog_btn"><i class="ti-arrow-right"></i></a>
						</div>
					</div>
				</div><!-- END COL-->	
				{% endfor %}
																
			</div><!-- END ROW -->
		</div><!-- END CONTAINER -->
		{% if request.user.is_authenticated %}
		<div class="container">
			<div class="section-title text-center wow zoomIn">
				<span>Recommended for you</span>	
				<h2>Check out tour packages <br /> that you may like </h2>
			</div>				
			<div class="row">	
				{% for q in recomlist %}				
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
					<div class="single_blog">
						<div class="blog_img">
							<a href="{% url 'prod_detail' q.prod_id %}"><img src="{{ q.image.url }}" class="img-fluid pimage" alt="image" /></a>
						</div>
						<div class="blog_content">
							<span class="blog_cat">
								<a class="pushtolist" data-id="{{ q.id }}">Book</a>
								<!-- <a class="pushtolist" data-id="{{ q.id }}">Add to Bucketlist</a> -->
								<a href="#">{{ q.nights }}N {{ q.days }} D</a>
							</span>
							<h3><a href="{% url 'prod_detail' q.prod_id %}">{{ q.prod_name }}</a></h3>								
							<div class="blog-meta">
								<span class="blog-author">
									<img src="https://previews.123rf.com/images/martialred/martialred1708/martialred170800071/84363440-available-now-label-badge-seal-or-burst-flat-vector-icon-for-apps-and-websites.jpg" alt="author icon" /> 
									<a href="#">NPR {{ q.price }}</a>
								</span> 
								<span class="blog-date">{{ q.valid_date | date:'d M Y' }}</span>								
							</div>
							<a href="{% url 'prod_detail' q.prod_id %}" class="blog_btn"><i class="ti-arrow-right"></i></a>
						</div>
					</div>
				</div><!-- END COL-->	
				{% endfor %}
																
			</div><!-- END ROW -->
		</div>
		{% endif %}
		
			
	</section>
	<!-- END BLOG -->
	<!-- END FEATURE -->		

<script>
	console.log("{{ category }}")
	// $('.cat').on('click',function(){
	// 	var cat=$(this).val();
	// 	var csrftoken = $("[name=csrfmiddlewaretoken]").val();
	// 	url="{% url 'index' %}"
	// 	$.ajax({
	// 		url:url,			
	// 		dataType:'json',
	// 		method:'post',
	// 		data:{cat:cat},
	// 		headers:{
	// 			"X-CSRFToken": csrftoken
	// 		},
	// 		success:function(data){
	// 			debugger;
	// 			$('.filt').html(data)

	// 		},
	// 		error:function(data){
	// 			toastr.warning("Cannot find the packages of this category");
	// 		}

	// 	});
	// });
</script>
{% endblock body %}
		