{% extends "base.html" %}


{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <form action="https://uat.esewa.com.np/epay/main" method="POST" id="myform">
        <input value="{{total}}" name="tAmt">
        <input value="0" name="amt" type="hidden">
        <input value="0" name="txAmt" type="hidden">
        <input value="0" name="psc" type="hidden">
        <input value="0" name="pdc" type="hidden">
        <input value="epay_payment" name="scd" type="hidden">
        <input value="order_{{bid}}" name="pid" type="hidden">
        <input value="http://127.0.0.1:8000/" type="hidden" name="su">
        <input value="{{request.build_absolute_uri}}" type="hidden" name="fu">
        <input value="Submit" type="submit">
    </form>

</body>
</html>
{% endblock body %}
